<!doctype html>
<html lang="pt-br" data-store="{{ store.id }}" class="page-{{ pages.current }}">
    <head>
        <!-- ============== Favicon =============== -->
        <link rel="icon" type="image/png" href="{{ asset(settings.favicon) }}" />
        <!-- ============== Meta Tags =============== -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- [if IE]<meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        {{ tray.meta }}
	    <!--{{ tray.styles }}-->
        <!-- ============== end Metas Tags =============== -->

        <!-- ============== Js Pace load =============== -->
	    <script type="text/javascript" src="{{ asset('js/pace.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('js/tray_functions.js') }}"></script>
        <!-- ============== end Js Pace load =============== -->

        <!-- ============== Styles =============== -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/others/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/others/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <!-- ============== end Styles =============== -->

        {{ tray.analytics }}
        {{ googleTagManager.header(pages.current, tagManagerData) }}

        <!-- ============== JS Tray =============== -->
        {{ tray.scripts }}
        <script> window.$tray = jQuery; </script>
        <!-- ============== end JS Tray =============== -->

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9&appId=1827951590754210";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </head>
    <body>
        {% element 'snippets/svg-sprite' %}
        {{ googleTagManager.top(pages.current, tagManagerData) }}
        {{ store.chat }}

        {% if pages.current not in ['checkout_cart', 'checkout_payment'] %}
            {% element 'header' %}
        {% else %}
            {% element 'header_checkout' %}
        {% endif %}

        <main class="main">
      <!-- Banner Principal -->
      {% if pages.current == 'home' and banner.home %}
      {% if banners.home.type == 'javascript' %}
          <section id="full-banner">    
              <ul data-carousel="true">
                  {% for slide in banners.home.slides %}
                      <li class="item">
                          <a href="{{ slide.link }}">
                              <img src="{{ slide.image }}" alt="{{ slide.label}}">
                          </a>
                      </li>
                  {% endfor %}
              </ul>
          </section>
      {% else  %}
          <section id="full-banner">
              <ul>
                  <li class="item">
                      <a href="{{ banners.home.link }}" class="full__banner">
                          <img src="{{ banners.home.src }}" alt="{{ banners.home.img_alt}}">
                      </a>
                  </li>
              </ul>
          </section>
      {% endif %}
  {% endif %}

            <div class="container">
                {% if pages.current == 'product' or pages.current == 'catalog' %}
                    {% element 'snippets/breadcrumb' %}
                {% endif %}
                {{ content_for_layout }}
            </div>
        </main>

        {% element 'footer' %}

        <script>
            if( typeof jQuery.fn.on !== 'function') 
                jQuery.fn.on = jQuery.fn.live;
        </script>

        <div data-quickview></div>

        {% element 'snippets/modal' %}
        {{ googleTagManager.bottom(pages.current, tagManagerData) }}
        {{ html.script('dist/application.min.js?' ~ utils.assets_version) }}
        {% element 'snippets/pageview' %}

        <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/stickyfill.min.js') }}"></script>
        <script defer type="text/javascript" src="{{ asset('js/script.js') }}"></script>
        <script defer type="text/javascript" src="{{ asset('js/newiscool.js') }}"></script>
    </body>
</html>
