{% if banner.title %}
<div class="banner-title">{{ banner.title }}</div>
{% endif %}

{% set paginateInfinite = true %}
<!-- <figure class="banner-title">{{ banner.title }}</figure>-->
{% if products|length > 0 %}
<aside class="smart_filter col-xs-3 visible-lg">
    <button class="mobileFilter btn btn-primary pull-right hidden-lg">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <div class="categories">
        <div class="categories__title">
            Categoria
        </div>
        <ul class="categories__list">

            {% for cat in categories %}
            <li class="categories__item categories__item--01">
                <a href="{{ cat.link }}" class="categories__link categories__link--01">{{ cat.name }}</a>
                {% if cat.children %}
                <ul class="categories__sub">
                    {% for child in cat.children %}
                    <li class="categories__item categories__item--02">
                        <a href="{{ child.link }}" class="categories__link categories__link--02">{{ child.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}

        </ul>
    </div>
    {% element('snippets/smart_filter') %}
</aside>

<section class="products-categorys col-xs-12 col-lg-9">
    <div class="row">

        
        <div class="col-xs-12 pagination-search-and-category top">
            <button class="mobileFilter btn btn-primary pull-left hidden-lg" data-id="sm-filter">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
                Filtro
            </button>
            
            <span class="catalogo-display">{{ paginate.counter('Resultado <strong>{:count} Produtos</strong> em <strong>{:pages} Páginas</strong>') }}</span>
  
            <div class="filter-category">
                {% element 'snippets/filter' {'brands': category.brands } %}
            </div>
            {% if not paginateInfinite %}
                {% element 'snippets/pagination' %}
            {% endif %}
        </div>

        <div class="products col-xs-12"
            data-infinite="{{ paginateInfinite ? 'true' : 'false' }}"
            data-infinite-result=".showcase__list" 
            data-infinite-button="CARREGAR MAIS PRODUTOS" 
            data-infinite-button-loading="Carregando mais produtos" 
            data-infinite-auto="true" >

            {% element 'snippets/showcase' {"products": products} %}

            {% if paginateInfinite %}
                <div class="paginates">
                    {% element 'snippets/pagination' %}
                </div>
            {% endif %}
        </div>

        {% if not paginateInfinite %}
        <div class="col-xs-12 pagination-search-and-category bottom">
            <span class="catalogo-display">{{ paginate.counter('Resultado <strong>{:count} Produtos</strong> em <strong>{:pages} Páginas</strong>') }}</span>
            
            {% element 'snippets/pagination' %}
        </div>
        {% endif %}
             
        <div class="category__description">
            {{ category.small_description }}
        </div>
    </div>
</section>
{% else %}
<p class="message--no-products">Nenhum produto encontrado nessa categoria.</p>
{% endif %}