



<!-- VITRINE 1 -->
{% if settings.showCase1active > 0  %}
    <section class="showcase-carousel">
        {% if settings.categories1 > 0  %}
            {% set products = Products({
                'filter': [settings.filtros1],
                'limit': settings.quantidade1,
                'order': settings.ordem1,
                'order': {
                    'stock': 'desc',
                    'id': 'desc'
                },
                'categories': [ settings.categories1 ] 
            }) %}
        {% else %}
            {% set products = Products({
                'filter': [settings.filtros1],
                'limit': settings.quantidade1,
                'order': settings.ordem1,
                'order': {
                    'stock': 'desc',
                    'id': 'desc'
                },
            }) %}
        {% endif %}
        {% element 'snippets/showcase' {
            "showcaseTitle": '<h2 class="banners-extra__title title--main">' ~  settings.vitrine1  ~ '</h2>',
            "products": products} %}
    </section>
{% endif %}

<section class="banners-extras">
    <div class="center banners-extras__center">
        <div class="banners-extras__item">
            {{ banner.extra1 }}
        </div>
        <div class="banners-extras__item">
            {{ banner.extra1 }}
        </div>
    </div>
</section>


<!-- VITRINE 2 -->
{% if settings.showCase2active > 0  %}
    <section class="showcase-carousel">
        {% if settings.categories2 > 0  %}
            {% set products = Products({
                'filter': [settings.filtros2],
                'limit': settings.quantidade2,
                'order': settings.ordem2,
                'order': {
                    'stock': 'desc',
                    'id': 'desc'
                },
                'categories': [ settings.categories2 ] 
            }) %}
        {% else %}
            {% set products = Products({
                'filter': [settings.filtros2],
                'limit': settings.quantidade2,
                'order': settings.ordem2,
                'order': {
                    'stock': 'desc',
                    'id': 'desc'
                },
            }) %}
        {% endif %}
        {% element 'snippets/showcase' {
            "showcaseTitle": '<h2 class="banners-extra__title title--main">' ~  settings.vitrine2  ~ '</h2>',
            "products": products} %}
    </section>
{% endif %}
{% if settings.showCase3active > 0  %}
    <section class="showcase-carousel">
        {% if settings.categories3 > 0  %}
            {% set products = Products({
                'filter': [settings.filtros3],
                'limit': settings.quantidade3,
                'order': settings.ordem3,
                'order': {
                    'stock': 'desc',
                    'id': 'desc'
                },
                'categories': [ settings.categories3 ] 
            }) %}
        {% else %}
            {% set products = Products({
                'filter': [settings.filtros3],
                'limit': settings.quantidade3,
                'order': settings.ordem3,
                'order': {
                    'stock': 'desc',
                    'id': 'desc'
                },
            }) %}
        {% endif %}
        {% element 'snippets/showcase' {
            "showcaseTitle": '<h2 class="banners-extra__title title--main">' ~  settings.vitrine3  ~ '</h2>',
            "products": products} %}
    </section>
{% endif %}