<div id="product-page">
    <div class="produto-wrapper" itemscope itemtype="http://schema.org/Product">
        <div class="row">
            <section class="product_img-block">
                <div class="product__images-information">
                    <h1 itemprop="name" class="product__name visible-xs visible-sm">{{ product.name }}</h1>

                    <div class="product__image" id="visualBlock">
                        {{ productHelper.gallery() }}
                        <div class="product__share">
                            {{ productHelper.social() }}
                        </div>
                        <div class="labels">
                            {% if product.featured %}
                                {% if Image('featured') %}
                                    <span class="featured">{{ Image('featured') }}</span>
                                {% else %}
                            <span class="label featured">Destaque</span>
                                {% endif %}
                            {% endif %}
                          {% if product.free_shipping %}
                          {% if Image('free_shipping') %}
                            <span class="free-shipping">{{ Image('free_shipping') }}</span>
                                {% else %}
                            <span class="label free-shipping">Frete Grátis</span>
                            {% endif %}
                          {% endif %}
                 
                          {% if product.new %}
                          {% if Image('new') %}
                          <span class=" botao-new">{{ Image('new') }}</span>
                          {% else %}
                          <span class="label new">Novidade</span>
                          {% endif %}
                          {% endif %}
                          {% if product.promotion %}
                          <span class="label promotion">Promoção</span>
                          {% endif %}
                        </div>

                    </div>
                </div>
            </section>

            <section class="product__general-information ">
                <div class="product__left-wrapper">
                    <header>
                        <ul class="product-info__list">
                            {% if product.brand %}
                                <li class="product-info__item">
                                    <span class="product-info__title">Marca:</span>
                                    <span class="product-info__desc">{{ product.brand }}</span>
                                </li>
                            {% else %}
                                <li class="product-info__item">
                                    <span class="product-info__title"></span>
                                </li>
                            {% endif %}
                            <li class="product-info__item">
                                <span class="product-info__title">SKU:</span>
                                <span class="product-info__desc">{{ product.id }}</span>
                            </li>                                
                        </ul>
                        <h1 class="product__name hidden-xs hidden-sm">{{ product.name }}</h1>
                           
                    
                        <li class="product-info__item">
                            {% if product.ranking %}
                                <div class="product__rating-wrapper">
                                    <span class="product__rating__stars" data-stars-count="{{ product.ranking.rating }}">
                                        <span class="star{{ product.ranking.rating }}"></span><span class="ranking-nota-final"></span>
                                        <a href="#descricaoanchor" id="avalieClick">Avalie este produto</a>
                                    </span>
                                </div>
                            {% endif %}
                        </li>
                        <li class="">
                            <div class="description-body">
                                <h4>Descrição</h4>
                                <div class="description-small">
                                    {% if product.description|length > 1000  %}                                        
                                        {{ product.description|length > 1000 ? product.description|slice(0, 1000) ~ '...' : product.description  }}                                         
                                        <a href="#descricao" class="seemore-btn">Veja mais</a>                                            
                                    {% else %}
                                        {{ product.description }}    
                                    {% endif %}    
                                </div>
                            </div>      
                        </li>
                        <form id="form_comprar" method="post" data-app="product.buy-form"
                              action="{{ links.cart_add ~ product.id }}">

                            <div class="product-main__prices">

                                <div id="preco" align="left">
                                    {{ productHelper.pricing() }}                                                                 
                                </div>
                                <div class="span-contato">
                                    <span>
                                        Preços no atacado entrar em contato no email: <strong>{{ settings.emailum }} </strong>
                                    </span>
                                </div>
                            </div> 
                            {% if product.available %}
                            <div class="product__buy">
                                <div data-app="product.quantity" class="product__quantity">
                                    <span id="span_erro_carrinho" class="blocoAlerta" style="display:none;">Selecione uma opção para variação do produto</span>
                                    <button type="button" id="plus" class="product__quantity__button" onclick="process(1)">+</button>
                               
                                    <input name="quant" id="quant" class="product__quantity__input" size="1" type="text" value="1" maxlength="5"/>
                                    <button type="button" id="minus" class="product__quantity__button" onclick="process(-1)">-</button>
                                </div>
                                <button type="submit" id="product__button--buy">Adicionar</button>

                                <div class="product__shipping">
                                    {{ productHelper.shipping() }}
                                    {% if settings.freeShippingActived == '1' %}
                                    <div class="free-shipping">
                                        <svg class="free-shipping__icon icon--shipping">
                                            <use xlink:href="#icon-shipping"></use>
                                        </svg>
                                        <span class="free-shipping__title">
                                            Frete Grátis
                                        </span>
                                        <span class="free-shipping__desc">
                                            {{ settings.freeShipping }}
                                        </span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            {% endif %}           
                            {% if productHelper.variants() %}
                            <div class="product__variations">{{ productHelper.variants() }}</div>
                            {% endif%}
                            {% if productHelper.kit() %}
                                <div class="product__variations">{{ productHelper.kit() }}</div>
                            {% endif%}
                        </form>
                        {% if product.additional_information %}
                            <div class="product-additional-information">
                                {{ product.additional_information }}
                            </div>
                        {% endif %}

                     
                    </header>
                </div>
            </section>

            {% if productHelper.bundle %}
                <section class="product__bundle col-xs-12">
                    <h4 class="product__title">Compre Junto</h4>
                    {{ productHelper.bundle }}
                </section>
            {% endif %}
            <div id="prodaba" style="margin-top:50px"></div>
            <section id="ProdBlock" class="product__tabs col-xs-12">        

                {% if product.description|length > 1000  %}
                    <div id="descricao" class="prodBox " >
                    <a name="descricaoanchor"></a>
                    <div class="board">
                        <div class="board_htm description">
                            <h3 class="title-description">Descrição</h3>
                                {{ product.description ? product.description : product.description_small }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div id="itensInclusos" class="prodBox">
                    <div class="board">
                        {{ product.included_items }}
                    </div>
                </div>

                <div id="coments" class="prodBox product-comments product-comments-tab">
                    <div class="board">
                        <a id="comentario">
                            {% element 'product/comments' %}    
                        </a>
                    </div>
                </div>
                
                {{ productTabs.custom.content }}
                {{ productTabs.downloads.content }}

                <div data-app="product.payment-methods" id="formasPagto" class="prodBox" style="display:none;"></div>
            </section>

            {% if product.related_products %}
            <section class="col-xs-12 product__related">
                <h4 class="product__title">Produtos Relacionados</h4>
                <div class="product__related showcase-carousel">
                    {% element 'snippets/showcase' {"products": product.related_products } %}
                </div>
            </section>
            {% endif %}
        </div>
    </div>
</div>
