@media (max-width: 1199px) {
  .smart_filter {
    background-color: white;
    bottom: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 3/10);
    display: block !important;
    height: 100vh;
    left: -310px;
    max-height: 100vh;
    overflow-y: scroll;
    position: fixed;
    padding: 30px 20px;
    transition: $transition;
    top: 0;
    width: 300px;
    z-index: 300;

    .mobileFilter {
      border-radius: 2px;
      font-size: 15px;
      line-height: 30px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 30px;
      z-index: 30;

      i {
        color: white;
      }
    }
  }

  #nav_bar {
    background-color: white;
    bottom: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 3/10);
    display: block !important;
    height: 100vh;
    left: -310px;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 0;
    position: fixed;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    top: 0;
    width: 300px;
    z-index: 500;

    .container {
      max-width: 300px;
    }


    .mobileMenu {
      @include button('', '', '', '', '', '', 17px, 25px, 0 10px);
      position: absolute;
      right: 15px;
      top: 10px;
      z-index: 30;
      i {
        color: #fff;
        font-size: 20px !important;
      }
    }
  }

  .all_departments {
    display: none;
  }
}

.ac_sm_ft,
.ac_sm_menu {
  overflow: hidden;
  position: fixed;
  width: 100%;
  #mask {
    background: rgba($cor02, (5/10));
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 19;
  }
}

.ac_sm_ft {
  .smart_filter {
    left: 0;
    z-index: 99999;
    form {
      position: absolute;
      overflow-x: scroll;
      max-height: 90%;
    }
  }
}

.ac_sm_menu {
  #nav_bar {
    display: block !important;
    left: 0;

    .dropdown-switcher {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  .quickview__button {
    display: none;
  }
}
@media(max-width: 991px) {
  header#header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
  } 
}

.page-central_cliente main.main {
  padding-top: 50px;
}