@mixin form(
	$color					:		$form-color,
	$background				:		$form-background,
	$border					:		$form-border,
	$border-radius			:		$form-border-radius,
	$box-shadow				:		$form-box-shadow,
	$font-family			:		$form-font-family,
	$font-size				:		$form-font-size,
	$height					:		$form-height,
	$width					:		$form-width
){
	@if $background 		!= ''	{  background: $background;  				}
	@if $border				!= ''	{  border: $border;  						}
	@if $border-radius 		!= ''	{  @include border-radius($border-radius); 	}
	@if $box-shadow	 		!= ''	{  @include  box-shadow($box-shadow); 		}
	@if $color 				!= '' 	{  color: $color; 							}
	@if $font-family 		!= ''	{  font-family: $font-family;  				}
  	@if $font-size 			!= ''	{  font-size: $font-size;  					}
	@if $height 			!= ''	{  height: $height;  						}
	@if $width 				!= ''	{  width: $width;  							}
}

@mixin form-action(
    $action					:		'',
  	$color					:		$form-hover-color,
	$background				:		$form-hover-background,
	$border					:		$form-hover-border,
	$border-radius			:		$form-hover-border-radius,
	$box-shadow				:		$form-hover-box-shadow,
	$font-family			:		$form-hover-font-family,
	$font-size				:		$form-hover-font-size,
	$height					:		$form-hover-height,
	$width					:		$form-hover-width

){
	@if ( $action == '' ) {
		&:hover,
		&:focus,
		&:active {
		  	@include form($color, $background, $border, $border-radius, $box-shadow, $font-size, $font-family, $height, $width);
		}
	}@elseif ( $action == 'focus' ) {
	  	@include form($color, $background, $border, $border-radius, $box-shadow, $font-size, $font-family, $height, $width);
	}@elseif ( $action == 'active' ) {
	  	@include form($color, $background, $border, $border-radius, $box-shadow, $font-size, $font-family, $height, $width);
	}
}


@mixin button(
  	$color					:		$button-color,
	$background				:		$button-background,
	$border					:		$button-border,
	$border-radius			:		$button-border-radius,
	$box-shadow				:		$button-box-shadow,
	$font-family			:		$button-font-family,
	$font-size				:		$button-font-size,
	$line-height			:		$button-line-height,
	$padding                :       $button-padding,
	$width					:		$button-width
){
	@if $color 		        != ''	{  color: $color;                           }
	@if $background 		!= ''	{  background: $background;  	            }
	@if $border				!= ''	{  border: $border;  						}
	@if $border-radius 		!= ''	{  @include border-radius($border-radius); 	}
  	@if $box-shadow	 		!= ''	{  @include  box-shadow($box-shadow); 		}
	@if $color 				!= '' 	{  color: $color; 							}
	@if $font-family 		!= ''	{  font-family: $font-family;  				}
  	@if $font-size 			!= ''	{  font-size: $font-size;  					}
	@if $line-height 		!= ''	{  line-height: $line-height;  				}
	@if $padding 			!= ''	{  padding: $padding;  						}
	@if $width 				!= ''	{  width: $width;  							}
}

@mixin button-action(
    $action					:		'',
    $tag					:		'',
    $color					:		$button-hover-color,
	$background				:		$button-hover-background,
	$border					:		$button-hover-border,
	$border-radius			:		$button-hover-border-radius,
	$box-shadow				:		$button-hover-box-shadow,
	$font-family			:		$button-hover-font-family,
	$font-size				:		$button-hover-font-size,
	$line-height			:		$button-hover-line-height,
	$padding                :       $button-hover-padding,
	$width					:		$button-hover-width
){

	@if ( $action == '' ) {
		&:hover,
		&:focus,
		&:active,
		&:active:focus{
			@if ( $tag == '' ) {
				@include button($color, $background, $border, $border-radius,$box-shadow, $font-size, $font-family, $line-height, $padding, $width);
			}@else{
				#{$tag}{
					@include button($color, $background, $border, $border-radius,$box-shadow, $font-size, $font-family, $line-height, $padding, $width);
				}
			}
		}
	} @else if ( $action == 'hover' ) {
		&:#{$action}{
			@if ( $tag == '' ) {
				@include button($color, $background, $border, $border-radius,$box-shadow, $font-size, $font-family, $line-height, $padding, $width);
			}@else{
				#{$tag}{
					@include button($color, $background, $border, $border-radius,$box-shadow, $font-size, $font-family, $line-height, $padding, $width);
				}
			}
		}
	} @else if ( $action == 'focus' ){
		&:#{$action}{
			@if ( $tag == '' ) {
				@include button($color, $background, $border, $border-radius,$box-shadow, $font-size, $font-family, $line-height, $padding, $width);
			}@else{
				#{$tag}{
					@include button($color, $background, $border, $border-radius,$box-shadow, $font-size, $font-family, $line-height, $padding, $width);
				}
			}
		}
	} @else if ( $action == 'active' ){
		&:#{$action}{
			@if ( $tag == '' ) {
				@include button($color, $background, $border, $border-radius,$box-shadow, $font-size, $font-family, $line-height, $padding, $width);
			}@else{
				#{$tag}{
					@include button($color, $background, $border, $border-radius,$box-shadow, $font-size, $font-family, $line-height, $padding, $width);
				}
			}
		}
	}
}