<section class="brands__list">
    <div class="brands__title"></div>

    <div>
    {% if (settings['brand01']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink01 }}" class="brand__link" target="_blank">
            <img src="{{asset (settings['brand01']) }} " alt="{{ settings['brand01'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand02']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink02 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand02']) }} " alt="{{ settings['brand02'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand03']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink03 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand03']) }} " alt="{{ settings['brand03'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand04']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink04 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand04']) }} " alt="{{ settings['brand04'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand05']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink05 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand05']) }} " alt="{{ settings['brand05'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand06']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink06 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand06']) }} " alt="{{ settings['brand06'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand07']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink07 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand07']) }} " alt="{{ settings['brand07'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand08']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink08 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand08']) }} " alt="{{ settings['brand08'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand09']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink09 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand09']) }} " alt="{{ settings['brand09'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand10']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink10 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand10']) }} " alt="{{ settings['brand10'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand11']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink11 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand11']) }} " alt="{{ settings['brand11'] }}"></div>
    {% endif %}
    {% if (settings['brand12']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink12 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand12']) }} " alt="{{ settings['brand12'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand13']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink13 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand13']) }} " alt="{{ settings['brand13'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand14']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink14 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand14']) }} " alt="{{ settings['brand14'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand15']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink15 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand15']) }} " alt="{{ settings['brand15'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand16']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink16 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand16']) }} " alt="{{ settings['brand16'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand17']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink17 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand17']) }} " alt="{{ settings['brand17'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand18']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink18 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand18']) }} " alt="{{ settings['brand18'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand19']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink19 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand19']) }} " alt="{{ settings['brand19'] }}">
        </a>
    </div>
    {% endif %}
    {% if (settings['brand20']) %}
    <div  class="brand__item">
        <a href="/{{ settings.brandLink20 }}" class="brand__link" target="_blank">
            <img src="{{ asset (settings['brand20']) }} " alt="{{ settings['brand20'] }}">
        </a>
    </div>
    {% endif %}
    </div>
</section>
