<nav class="hidden-sm hidden-xs" id="nav_bar">
    <div class="hidden-lg nav-cabecalho-mobile-wrapper">
        <button class="hidden-lg mobileMenu">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <div class="login-box tray-hide" data-logged-user="true">
            <span class="texto-cima">Ol&aacute;, <span data-customer="name">{{ customer.name }}</span>!</span>
			<span class="texto-baixo">
				<a href="{{ links.central }}">Minha conta</a> | <a href="{{ links.logout }}">Sair</a>
			</span>
        </div>
        <div class="login-box tray-hide" data-logged-user="false">
            <span class="texto-cima">Bem-vindo!</span>
			<span class="texto-baixo">
				<a href="{{ links.login }}">Entrar</a> | <a href="{{ links.register }}">Cadastro</a>
			</span>
        </div>
        
    </div>
    <div class="nav-container">
        <ul class="nv-01">
            {% for category in categories %}
                {% if loop.index <= 7 %}
                <li class="cat_id-{{ category.id }} dropdown">
                    <a href="{{ category.link }}">
                        <svg class="category__icon icon-{{ category.id }} hidden-xs hidden-sm">
                            <use xlink:href="#icon-{{ category.id }}"></use>
                        </svg>            
                        {{ category.name }}
                    </a>
                    {% if category.children %}
                    <svg class="cat__icon icon--arrow-bottom hidden-lg hidden-md">
                        <use xlink:href="#icon-arrow-bottom"></use>
                    </svg>
                    {% endif %}
                    {% if category.children %}
                    <div class="dropdown-switcher">
                        <div class="nv-02">
                            <ul class="nv-02">
                                {% for child in category.children %}
                                <li class="cat_id-{{ child.id }} dropdown">
                                    <a href="{{ child.link }}">
                                        {{child.name }}
                                    </a>

                                    {% if child.children %}
                                        <ul class="nv-03">
                                        {% for child2 in child.children %}
                                            <li class="cat_id-{{ child2.id }} dropdown">
                                                <a href="{{ child2.link }}">{{child2.name }}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>