<li class="showcase__item" itemscope itemtype="http://schema.org/SomeProducts">
    <div class="border {% if not product.available %} off {% endif %}">
        <figure class="product-image">
            <a href="{{ product.link }}">
                <img class="img-responsive" src="{{ product.images[0].full }}" alt="{{ product.name }}">
            </a>

        </figure>
            {% if product.price_offer > 0 %}
            <div class="product__offer">
                {% set percent = 100 - ( product.price_offer / product.price ) * 100 %}
                <span>-{{ percent|number_format }}%</span>                            
            </div> 
            {% endif %}
            {% if product.available %}
                <div class="labels">
                        {% if product.free_shipping %}
                            {% if Image('free_shipping') %}
                                    <span class="free-shipping">{{ Image('free_shipping') }}</span>
                            {% else %}
                                    <span class="label free-shipping">Frete Grátis</span>
                            {% endif %}
                         {% endif %}

                        {% if product.new %}
                            {% if Image('new') %}
                                <span class=" botao-new">{{ Image('new') }}</span>
                            {% else %}
                                <span class="label new">Novidade</span>
                            {% endif %}
                        {% endif %}
                        {% if product.featured %}
                        {% if Image('featured') %}
                            <span class="featured">{{ Image('featured') }}</span>
                        {% else %}
                            <span class="label featured">Destaque</span>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        
            <div class="product-name" itemprop="name">
                <div class="brand-showcase">
                    <h4>{{ product.brand}} </h4>
                </div>
                <a href="{{ product.link }}">
                    <h3>{{ product.name|slice(0,80) }}</h3>
                </a>
            </div>
            <div class="product__rating">
                <span class="star{{ product.ranking.rating }}"></span>
             </div>

        {% if product.available %}

        <div class="product__prices">
            {# Verificação: Há Oferta ou Não #}
            {% if product.price_offer > 0 %}
            {# Preços com Oferta #}
            <h4 class="preco-de">R$ {{ product.price|currency }}</h4>
            <h4 class="preco-por">R$ {{ product.price_offer|currency }}</h4>
            {% else %}
            {# Preço Normal #}
            <h4 class="preco-de"></h4>
            <h4 class="preco-por"> R$ {{ product.price|currency }}</h4>
            {% endif %}
        </div>


        {# Formas de Pagamento #}
        <div class="formas-pagamento-box">
            {{ product.payment }}
        </div>

        <div class="showcase__buy">
         
            <a class="buy__button" href="{{ product.link }}">
                <svg class="cart__icon icon--cart">
                <use xlink:href="#icon-cart"></use>
            </svg>
            Comprar
            </a>
            <button class="quick__button" data-quickview-button type="button" data-id="{{ product.id }}">
                <svg id="icon-eye" viewBox="0 0 32 32">
                    <title>eye</title>
                    <path d="M16 6c-6.979 0-13.028 4.064-16 10 2.972 5.936 9.021 10 16 10s13.027-4.064 16-10c-2.972-5.936-9.021-10-16-10zM23.889 11.303c1.88 1.199 3.473 2.805 4.67 4.697-1.197 1.891-2.79 3.498-4.67 4.697-2.362 1.507-5.090 2.303-7.889 2.303s-5.527-0.796-7.889-2.303c-1.88-1.199-3.473-2.805-4.67-4.697 1.197-1.891 2.79-3.498 4.67-4.697 0.122-0.078 0.246-0.154 0.371-0.228-0.311 0.854-0.482 1.776-0.482 2.737 0 4.418 3.582 8 8 8s8-3.582 8-8c0-0.962-0.17-1.883-0.482-2.737 0.124 0.074 0.248 0.15 0.371 0.228v0zM16 13c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"></path>
                </svg>
            </button>
        </div>

        {% else %}
        <div class="labels">
            <span class="label label-default unavailable">Indisponível</span>
        </div>
        {% endif %}
    </div>
</li>
